#MyActImportantIndicator {
	float: right;
	color: #DDD;
	font-size: 16px;
}

.no-padding {
	padding: 10px 0px 10px 0px !important;
}

span.time {
	font-size: 11px;
	color: #686868;
	padding-right: 5px;
}

.activity-list .list-group li:nth-child(even) {
	background-color: #beb;
}

.activity-list .list-group li:nth-child(odd) {
	background-color: #f0fff0;
}

