table.thumb-table {
	background-color: #7E7;
	width: 100%;
	padding-bottom: 0px;
	table-layout: fixed;
	margin-bottom: 10px;
	border-radius: 5px;
}

td.thumb-column {
	width: 90px;
	height: 80px;
}

td.desc-column {
	text-align: left;
	width: 100%;
}

p.thumb-title {
	color: #070;
	display: inline;
	font-size: 24px;
}

img.thumbnail {
	margin-bottom: 10px;
}

.thumb-container {
	padding: 10px 8px 0px 10px;
}

.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.fraction > span {
    display: block;
    padding: 0.1em;
}

.fraction > span.bottom {
	border-top: thin solid black;
}

.col-align-center {
	transform: translateY(50%);
}

.col-align-bottom {
	transform : translateY(100%);
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #DDD;
}

.state-icon {
	left: -5px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #33DD33;
	border: 0;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand .glyphicon {
	margin-right: 8px;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover {
	background-color: #22AA22;
	color: #fff;
}

.navbar-default .navbar-nav li a {
	color: #353;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
	color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #119911;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	border-color: #e0e0e0;
	background-color: #33DD33;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #119911;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #e0e0e0;
}

