.progress {
	width: 150px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
}

.file-upload-manager {
	border: black 1px solid;
}

.file-upload {
	display: flex;
	align-items: stretch;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.file-name {
	flex: 1;
	display: inline-block;
}

