== slim :'partials/delete', locals: { delete_title: s('confirm:title'), delete_message: s('confirm:text'), delete_item: "nas#{params[:file]}", delete_url: "/nas/delete?file=#{CGI.escape params[:file]}&confirm=yes", delete_yes: s('confirm:yes'), delete_no: s('confirm:no') }

