@media only screen and (max-width: 1400px) {
	#MyActForm {
		display: none;
	}
}

@media only screen and (min-width: 1400px) {
	#MyActNew {
		display: none;
	}
}

.delete-activity-btn {
	float: right;
	font-size: 20px;
	color: red;
	vertical-align: center;
	cursor: pointer;
}

.edit-activity-btn {
	float: right;
	font-size: 17px;
	color: blue;
	vertical-align: center;
	cursor: pointer;
	padding-right: 8px;
}

.error-signal {
	font-size: 16px;
	padding-right: 6px;
	color: red;
}

.input-group {
	width: 100%;
}

#MyActImportantIndicator {
	float: right;
	color: #DDD;
	font-size: 16px;
}

.no-padding {
	padding: 10px 0px 10px 0px !important;
}

span.time {
	font-size: 11px;
	color: #686868;
	padding-right: 5px;
}

li.activity-list-item.list-group-item:nth-child(even) {
	background-color: #beb;
}

li.activity-list-item.list-group-item:nth-child(odd) {
	background-color: #f0fff0;
}

