.centered {
	width: 100%;
	height: 100%;
	text-align: center;
}

.btn-wide {
	width: 100%;
}

.flat {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.flat > b > .glyphicon {
	padding-right: 5px;
}

