#MyVolumeSliderInput {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;
}

#MyChapterList {
	position: absolute;
	overflow-y: scroll;
	width: 100%;
}

html {
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

@media (max-width: 767px) {
	.btn-spacer {
		margin-top: 8px;
	}
}

